.liste_projets{max-width:820px}
.panel-default{
    text-align:center;
    cursor:pointer;
    font-family: 'Raleway',sans-serif;
    position:relative;
    margin:0px -15px;
    border-radius:0px!important;
    padding:0px!important
}
.panel-default > .panel-body{padding:0px!important}
.panel-default > .panel-footer {
    color: #fff;
    background-color: #47c8ed;    
    display:none;
    position: absolute;
    width:100%;
    bottom:0px;
    border-radius:0px!important;
    border:none;
}
.panel-default i{
    font-size: 5em;
    }
.projet{padding:0px}

body.modal-open .liste_projets{
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
  .close{font-size:50px; font-weight: 100;}
.modal-backdrop {background: #f7f7f7;}

/* Carousel Styles */
.modal .container{width:800px}
.carousel-indicators .active {
    background-color: #2980b9;
}

.carousel-inner {text-align: center!important;}
.carousel > .item {width:600px!important; text-align: center!important}
.carousel-inner img {
    width: 100%;
    max-height: 500px
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
    opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

.carousel-control.left span {
	padding: 15px;
}

.carousel-control.right span {
	padding: 15px;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
color:#333;
font-weight: 100!important;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: -35px; font-weight: 100;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: -5px;
}

.carousel-control.left span,
.carousel-control.right span {
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
    background-color: #2980b9;
    padding: 10px;
}

.header-text h3 span {
    background-color: #000;
    padding: 15px;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

#menu {
    background-color: #1ABC9C;
}

.Titulo {
    color: black !important;
    font-weight: 800;
}

.navbar-default{
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:14px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

.navbar-right li a {
    background-color: #1ABC9C !important;
    color: white !important;
}